@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  overflow: hidden;
}

html,
body,
.wrapper {
  height: 100%;
  color: #fff;
}

body {
  background: linear-gradient(to bottom, #0d121f 0%, #0a0f19 80%, #0a0a0a 100%);
  display: grid;
  place-items: center;
  margin: 0;
  padding: 0 24px;
}

.login-card {
  position: relative;
  z-index: 3;
  width: 100%;
  margin: 0 20px;
  padding: 20px 30px 20px;
  border-radius: 10px;
  background: #101214;
  border: 1px solid #2a2f36;
  text-align: center;
  color: #fff;
}

.login-card i {
  font-size: 48px;
  color: #73adff;
  margin-bottom: 12px;
}

.login-card h2 {
  font-size: 36px;
  font-weight: 600;
  margin: 0 0 12px;
  color: #a3c9ff;
}

.login-card h3 {
  color: #fff;
  margin: 0 0 30px;
  font-weight: 500;
  font-size: 1rem;
}

.login-form {
  width: 100%;
  margin: 0;
  display: grid;
  gap: 16px;
}

.login-form input,
.login-form button {
  width: 100%;
  height: 50px;
  font-family: inherit;
}

.login-form input {
  border: 1px solid #2a2f36;
  font-size: 15px;
  padding: 0 16px;
  border-radius: 10px;
  background-color: #101214;
  color: #fff;
  transition: border-color 0.3s ease;
}

.login-form input:hover {
  border-color: #73adff;
}

.login-form button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0.75rem 1.8rem;
  background-color: #30363d;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
  user-select: none;
}

.login-form button:hover {
  background-color: #a3c9ff;
  color: #1a2238;
  transform: translateY(-2px);
}

.login-form a {
  color: #a3c9ff;
  font-size: 0.9rem;
  text-align: left;
  text-decoration: none;
  margin-bottom: 6px;
  transition: color 0.3s ease;
}

.login-form a:hover {
  color: #a3c9ff;
}

@keyframes rotate {
  100% {
    background-position: 15% 50%;
  }
}

@media (width >= 500px) {
  body {
    padding: 0;
  }
  .login-card {
    margin: 0;
    width: 400px;
  }
}
