<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
      integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/static/css/style-signin.css">
    <title>Guitar Academy</title>
  </head>
  <body>
    <div class="login-card">
      <i class="fa-solid fa-graduation-cap"></i>
      <div class="signin-main">
        {% if success %}
          <div id="authSuccess" style="color: #cfe9ff; font-size: 0.9rem; text-align: center; background-color: #071022; border: 1px solid #73adff; padding: 10px; border-radius: 5px; margin-bottom: 15px;">
            {{ success }}
          </div>
        {% endif %}
        {% if error %}
          <div id="authError" style="color: #ff6b6b; font-size: 0.9rem; text-align: center; background-color: #1a0a0a; border: 1px solid #ff6b6b; padding: 10px; border-radius: 5px; margin-bottom: 15px;">
            {{ error }}
          </div>
        {% endif %}
        <form action="/signin" id="signinForm" method="post">
          <div class="form-container">
            <div class="form-group">
              <input
                id="cpf"
                name="cpf"
                placeholder=" "
                inputmode="numeric"
                maxlength="14"
                autocomplete="off"
                required
              />
              <label for="cpf">CPF</label>
            </div>
            <div id="cpfError" style="color: #ff6b6b; font-size: 0.8rem; text-align: left; display: none; margin-top: -10px; margin-bottom: 5px;">
              CPF inválido!
            </div>

            <div class="form-group">
              <input type="password" name="password" id="password" placeholder=" " required minlength="6"/>
              <label for="password">Senha</label>
            </div>

            <button type="submit">ENTRAR</button>
          </div>

          <p class="signin-link">Ainda não tem uma conta? <a href="/cadastro">Cadastre-se</a></p>
        </form>
      </div>
    </div>
    <script src="/static/js/signin.js"></script>
  </body>
</html>